<h2>Source</h2>

<%= link_to 'Edit', edit_source_path(@source) %>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @source.slug %>
</p>

<p>
  <strong>Image:</strong>
  <%= @source.image %>
</p>

<p>
  <strong>Channels:</strong>
  <%= link_to 'View Channels', source_channels_path(@source) %>
</p>

<%= link_to 'Back to Source Listing', sources_path %>