<hr>

<p>
  <b>Name:</b> <%= episode.name %>
</p>

<p>
  <b>Slug:</b> <%= episode.slug %>
</p>

<p>
  <b>Image:</b><br />
  <img src="<%= episode.image %>">
</p>

<p>
  <b>Date created:</b> <%= episode.date_created %>
</p>

<p>
  <b>Description:</b><br />
  <%= simple_format(episode.description) %>
</p>

<p>
  <b>Captions</b>:
  <%= link_to('View', source_channel_episode_captions_path(episode.channel.source, episode.channel, episode)) %>
</p>

<%= link_to 'Edit', edit_source_channel_episode_path(episode.channel.source, episode.channel, episode) %> |
<%= link_to 'Destroy', source_channel_episode_path(episode.channel.source, episode.channel, episode),
                   method: :delete,
                   data: { confirm: 'Are you sure?'} %>
