<h2><%= @source.name %> &gt; <%= @channel.name %> &gt; <%= @episode.name %>: Captions</h2>

<p>
  <%= link_to 'Create new caption', new_source_channel_episode_caption_path(@source, @channel, @episode) %>
</p>

<p>
  <%= link_to "Back to #{@episode.name} info", source_channel_episode_path(@source, @channel, @episode) %>
</p>

<% if @captions.empty? %>
<p>
  This episode has no captions. This is probably because they're not ingested yet.
</p>

<p>
  <%= link_to source_channel_episode_captions_ingest_path(@source, @channel, @episode, @caption), method: :post do %>
      Ingest captions from <%= @source.name %> for this episode?
  <% end %>
</p>

<% else %>
    <%= render @captions %>
<% end %>
